* {
    box-sizing: border-box;
  }
body {
  font-family: 'Courier New', Courier, monospace;
  }
article{
  height: 175px;
  padding: 5px 15px;
  background-color:#777;
  
 }
 input{
  font-family: 'Courier New', Courier, monospace;
 }

section::after {
  content: "";
  display: table;
  clear: both;
}


  /*minha ideia*/
  header{
    background-color: #777;
    padding:10px;
    text-align: center;
    color:white;
}
  footer {
    background-color: #777;
    padding: 10px;
    text-align: justify;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 2px;
    border-color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  
  }
  div#sessaoum{
    width: 50%;   
    float: left;
    padding: 10px;
    background-color: #555;
    height: 35px;
    border: 2px;
    border-color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
  }
  div#sessaodois{
    width: 50%;    
    float: left;
    padding: 10px;
    background-color: #555;
    height: 35px;
    border: 2px;
    border-color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
  }
  article#link1{
    text-align: center;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 50%;    
    float: left;
    padding: 10px;
    background-color: #555;
    height: 420px;
    border: 2px;
    border-color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
  }
  article#link2{
    text-align: center;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 50%;    
    float: left;
    padding: 10px;
    background-color: #555;
    height: 420px;
    border: 2px;
    border-color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
  }
  div#whitediv{
    background-color: white;
    height: 20px;
  }
  div#fotterum{
    width: 100%;   
    padding-left: 10px;;
    float: left;
    background-color: #555;
    height: 65px;
    border: 2px;
    border-color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
  }
  a{
    text-decoration: none;
    color: white;
  }